<div class="dashboard"><!-- Dashboard -->
    <section class="navigation"><!-- Navigation -->
        <img src="/img/logo-thumbnail.png" alt="COMP3006 Logo" class="logo">

        <div class="buttons"> <!-- CRUD Operation Buttons -->
<!--            <button id="Create" onclick="retrieveProjects()">Create Project&excl;</button>-->
            <button id="Create">Create Project</button>

            <button id="Update">Update Project</button>

            <button id="Delete">Delete Project</button>
        </div><!-- CRUD Buttons end-->
        <div>
            <span class="material-icons-outlined">dashboard_customize
            </span>
            <span class="material-icons-outlined">trending_up
            </span>
            <span class="material-icons-outlined">people_alt
            </span>
            <span class="material-icons-outlined">insert_invitation
            </span>
            <span class="material-icons-outlined">settings
            </span>
        </div>

        <img src="img/pic1.png" alt="User Image"
        class="user">
    </section><!-- Navigation End-->

    <section class="main"><!-- Main -->

        <script>
            function retrieveProjects() { // to fetch json data from API

                let recievedProjects = false;

                fetch("http://127.0.0.1:8080/api/projects").then(function (headers) {
                    console.log(headers);
                    if (headers.status != 200){
                        console.log("did not receive 200 response");
                        return
                    }

                    recievedProjects = true;
                    return headers.json()
                }).then(function (json){
                    if (recievedProjects == false) return
                    populateProjects(json);
                }).catch(function (error){
                    if (recievedProjects == false) return
                    console.log("error");
                    console.log(error);
                })

            }

            function populateProjects(projects){

                console.log(projects)

                let projectListDiv = document.getElementsByClassName("project_list")[0];
                projects.forEach(function (project){
                    console.log(project)

                    let projectDiv = document.createElement("div");
                    let categoryDiv = document.createElement("div");
                    let projectTitle = document.createElement("h2");
                    let projectStatus = document.createElement("p");
                    let activityUL = document.createElement("ul");

                    projectDiv.classList.add("project");
                    categoryDiv.classList.add("category");
                    activityUL.classList.add("activity");

                    projectTitle.innerText = project.projectTitle;
                    projectStatus.innerText = project.projectStatus;

                    project.projectActivities.forEach(function (activity){
                        let activityLI = document.createElement("li");
                        activityLI.innerText = activity;
                        activityUL.appendChild(activityLI);
                    })

                    projectDiv.appendChild(categoryDiv);
                    projectDiv.appendChild(projectTitle);
                    projectDiv.appendChild(projectStatus);
                    projectDiv.appendChild(activityUL);

                    projectListDiv.appendChild(projectDiv);
                })
            }
        </script>

        <div class="search"><!-- Search -->
            <form action="">
                <input type="text" name="search" id="searchProject"
                       placeholder="Search Here">
                <span class="material-icons-outlined">
                    search</span>
            </form>
            <div class="notification">
                <span class="material-icons-outlined">
                    notifications</span>
                <span class="material-icons-outlined">
                    edit</span>
            </div>
        </div><!-- Search End-->

        <div class="title">
            <h1>My projects</h1>

            <label for="projects">Sort By</label>
            <select name="projects" id="projectFilter">
                <option value="">...</option>
                <option value="recent">Recent Projects</option>
                <option value="finished">Finished Projects</option>
                <option value="ongoing">Ongoing Projects</option>
                <option value="stalled">Stalled Projects</option>
            </select>

        </div>

        <div class="project_list"><!-- Project List -->

            <div class="project" data-status="finished" title="Finished Projects"><!-- Project1 -->
                <div class="category category_color1">
                </div>
                <h2>Project 1</h2>
                <p>1 Hour ago</p>
                <ul class="activity">
                    <li>ComingSoon Banner</li>
                    <li>Book Cover</li>
                </ul>

                <div class="meta">
                    <div class="contributors">
                        <img src="/img/avatar.png" alt="Avatar" class="avatar">
                        <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
                        <img src="/img/avatar2.png" alt="Avatar" class="avatar">
                    </div>
                    <span class="material-icons">more_vert</span>
                </div>
            </div> <!-- Project1 End-->


        <div class="project"data-status="ongoing" title="Ongoing Projects"><!-- Project2 -->
            <div class="category category_color2">
            </div>
            <h2>Project 2</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Editorial page content</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project2 End-->

        <div class="project"data-status="stalled" title="Stalled Projects"><!-- Project3 -->
            <div class="category category_color3">
            </div>
            <h2>Project 3</h2>
            <p>1 Day ago</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project3 End-->

        <div class="project" data-status="recent" title="Recent Projects"><!-- Project 4 -->
            <div class="category category_color4">
            </div>
            <h2>Project 4</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
        </div> <!-- Project 4 End-->

        <div class="project" data-status="ongoing" title="Ongoing Projects"><!-- Project 5 -->
            <div class="category category_color1">
            </div>
            <h2>Project 5</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
        </div> <!-- Project 5 End-->

        <div class="project"data-status="stalled" title="Stalled Projects"><!-- Project 6 -->
            <div class="category category_color3">
            </div>
            <h2>Project 6</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixed layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
        </div> <!-- Project 6 End-->
    </div><!-- Project List End -->


</section><!-- Main End -->

    <section class="secondary"><!-- Secondary -->
        <div class="chart">
            <h2>Total Project</h2>
            <canvas id="myChart" width="400" height="400"></canvas>

            <div class="complete">
                <h3>3 Completed</h3>
                <p>from 5 projects</p>
            </div>
        </div>


        <div class="recent_projects"><!-- Recent Project -->
            <div class="listing">
                <div class="title">
                    <div class="category category_color1"></div>
                    <h2>Layouting</h2>
                    <p>By Thomas Gardner</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color2"></div>
                    <h2>Photoshoot</h2>
                    <p>by Test User 2</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color3"></div>
                    <h2>Branding</h2>
                    <p>by Test User 3</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color3"></div>
                    <h2>Branding</h2>
                    <p>by Test User 4</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
        </div><!-- Recent Project End -->

</section><!-- Secondary end-->

    <div class="bg-model"> <!-- Popup form -->
        <div class="model-content">

            <div class="close">+</div>
            <img src="/public/img/avatar.png" width="100" height="100" alt="">
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-mail">
                <a href="" class="button">Submit</a>
            </form>
        </div>
    </div> <!-- Popup form End -->

</div> <!-- Dashboard End-->
<script src="../public/script.js"></script>
