<div class="dashboard"><!-- Dashboard -->
    <section class="navigation"><!-- Navigation -->
        <img src="/img/logo-thumbnail.png" alt="COMP3006 Logo" class="logo">

        <div class="buttons"> <!-- CRUD Operation Buttons -->

            <button id="Create">Create Project</button>

            <button id="Update">Update Project</button>

            <button id="Delete">Delete Project</button>
        </div><!-- CRUD Buttons end-->
        <div>
            <span class="material-icons-outlined">dashboard_customize
            </span>
            <span class="material-icons-outlined">trending_up
            </span>
            <span class="material-icons-outlined">people_alt
            </span>
            <span class="material-icons-outlined">insert_invitation
            </span>
            <span class="material-icons-outlined">settings
            </span>
        </div>

        <img src="img/pic1.png" alt="User Image"
        class="user">
    </section><!-- Navigation End-->

    <section class="main"><!-- Main -->

        <script>
            function retrieveProjects() {// to fetch json data from API

                let recievedProjects = false;

                fetch("/api/projects").then(function (headers) {
                    console.log(headers);
                    if (headers.status != 200){
                        console.log("did not receive 200 response");
                        return
                    }

                    recievedProjects = true;
                    return headers.json()
                }).then(function (json){
                    if (recievedProjects == false) return
                    populateProjects(json);
                }).catch(function (error){
                    if (recievedProjects == false) return
                    console.log("error");
                    console.log(error);
                })

            }

            function populateProjects(projects){

                console.log(projects)

                let projectListDiv = document.getElementsByClassName("project_list")[0];
                projectListDiv.innerHTML = "";
                projects.forEach(function (project){
                    console.log(project)

                    let projectDiv = document.createElement("div");
                    let categoryDiv = document.createElement("div");
                    let projectTitle = document.createElement("h2");
                    let projectFname = document.createElement("p");
                    let projectLname = document.createElement("p");
                    let projectDescription = document.createElement("p");
                    let activityUL = document.createElement("ul");

                    projectDiv.classList.add("project");
                    categoryDiv.classList.add("category");
                    activityUL.classList.add("activity");

                    projectTitle.innerText = project.projectTitle;
                    projectFname.innerText = project.projectFname;
                    projectLname.innerText = project.projectLname;
                    projectDescription.innerText = project.projectDescription;

                    projectDiv.appendChild(categoryDiv);
                    projectDiv.appendChild(projectTitle);
                    projectDiv.appendChild(projectFname);
                    projectDiv.appendChild(projectLname);
                    projectDiv.appendChild(projectDescription);
                    projectDiv.appendChild(activityUL);
                    projectListDiv.appendChild(projectDiv);
                })
            }

            // submit function for popup form
            function submitproject() {
                let projectTitleInput = document.getElementById("projectTitle").value;
                let projectFnameInput = document.getElementById("projectFname").value;
                let projectLnameInput = document.getElementById("projectLname").value;
                let projectDescriptionInput = document.getElementById("projectDescription").value;

                fetch("/newproject", {
                    method: 'POST',
                    body: JSON.stringify({
                        "title": projectTitleInput,
                        "firstname": projectFnameInput,
                        "lastname": projectLnameInput,
                        "description": projectDescriptionInput
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (){
                    document.querySelector('.bg-model').style.display = 'none';
                    retrieveProjects();
                });
            }

            retrieveProjects();
        </script>

        <div class="search"><!-- Search -->
            <form action="">
                <input type="text" name="search" id="searchProject"
                       placeholder="Search Here">
                <span class="material-icons-outlined">
                    search</span>
            </form>
            <div class="notification">
                <span class="material-icons-outlined">
                    notifications</span>
                <span class="material-icons-outlined">
                    edit</span>
            </div>
        </div><!-- Search End-->

        <div class="title">
            <h1>My projects</h1>

            <label for="projects">Sort By</label>
            <select name="projects" id="projectFilter">
                <option value="">...</option>
                <option value="recent">Recent Projects</option>
                <option value="finished">Finished Projects</option>
                <option value="ongoing">Ongoing Projects</option>
                <option value="stalled">Stalled Projects</option>
            </select>

        </div>

        <div class="project_list"><!-- Project List -->

            <div class="project" data-status="finished" title="Finished Projects"><!-- Project1 -->
                <div class="category category_color1">
                </div>
                <h2>Project 1</h2>
                <p>1 Hour ago</p>
                <ul class="description">
                    <li>ComingSoon Banner</li>
                    <li>Book Cover</li>
                </ul>

                <div class="meta">
                    <div class="contributors">
                        <img src="/img/avatar.png" alt="Avatar" class="avatar">
                        <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
                        <img src="/img/avatar2.png" alt="Avatar" class="avatar">
                    </div>
                    <span class="material-icons">more_vert</span>
                </div>
            </div> <!-- Project1 End-->
    </div><!-- Project List End -->


</section><!-- Main End -->

    <section class="secondary"><!-- Secondary -->
        <div class="chart">
            <h2>Total Project</h2>
            <canvas id="myChart" width="400" height="400"></canvas>

            <div class="complete">
                <h3>3 Completed</h3>
                <p>from 5 projects</p>
            </div>
        </div>


        <div class="recent_projects"><!-- Recent Project -->
            <div class="listing">
                <div class="title">
                    <div class="category category_color1"></div>
                    <h2>Layouting</h2>
                    <p>By Thomas Gardner</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color2"></div>
                    <h2>Photoshoot</h2>
                    <p>by Test User 2</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color3"></div>
                    <h2>Branding</h2>
                    <p>by Test User 3</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
            <div class="listing">
                <div class="title">
                    <div class="category category_color3"></div>
                    <h2>Branding</h2>
                    <p>by Test User 4</p>
                </div>
                <span class="material-icons-outlined">more_vert</span>
            </div>
        </div><!-- Recent Project End -->

</section><!-- Secondary end-->

    <div class="bg-model"> <!-- Popup form -->
        <div class="model-content">

            <div class="close">+</div>
            <img src="/public/img/avatar.png" width="100" height="100" alt="">
            <form action="/newproject" method="post">
                <input id="projectTitle" type="text" placeholder="Project Title">
                <input id="projectFname" type="text" placeholder="First Name">
                <input id="projectLname" type="text" placeholder="Last Name">
                <input id="projectDescription" type="text" placeholder="project Description">

                <button type="button" onclick="submitproject()">Submit</button>
            </form>
        </div>
    </div> <!-- Popup form End -->

</div> <!-- Dashboard End-->
<script src="../public/script.js"></script>
