<div class="dashboard"><!-- Dashboard -->
    <section class="navigation"><!-- Navigation -->
        <img src="/img/logo-thumbnail.png" alt="COMP3006 Logo" class="logo">
        <div>
            <span class="material-icons"> dashboard_customize
            </span>
            <span class="material-icons">trending_up
            </span>
            <span class="material-icons">people_alt
            </span>
            <span class="material-icons">insert_invitation
            </span>
            <span class="material-icons">settings
            </span>
        </div>

        <img src="img/pic1.png" alt="User Image"
        class="user">
    </section><!-- Navigation End-->

    <section class="main"><!-- Main -->

        <button id="testButton" onclick="retrieveProjects()">Create Project&excl;</button>
        <script>

            function retrieveProjects() {

                let recievedProjects = false;

                fetch("http://127.0.0.1:8000/api/projects").then(function (headers) {
                    console.log(headers);
                    if (headers.status != 200){
                        console.log("did not receive 200 response");
                        return
                    }

                    recievedProjects = true;
                    return headers.json()
                }).then(function (json){
                    if (recievedProjects == false) return
                    populateProjects(json);
                }).catch(function (error){
                    if (recievedProjects == false) return
                    console.log("error");
                    console.log(error);
                })

            }

            function populateProjects(projects){

                console.log(projects)

                let projectListDiv = document.getElementsByClassName("project_list")[0];
                projects.forEach(function (project){
                    console.log(project)

                    let projectDiv = document.createElement("div");
                    let categoryDiv = document.createElement("div");
                    let projectTitle = document.createElement("h2");
                    let descriptionPara = document.createElement("p");
                    let activityUL = document.createElement("ul");

                    projectDiv.classList.add("project");
                    categoryDiv.classList.add("category");
                    activityUL.classList.add("activity");

                    projectTitle.innerText = project.projectTitle;
                    descriptionPara.innerText = project.projectDescription;

                    project.projectActivities.forEach(function (activity){
                        let activityLI = document.createElement("li");
                        activityLI.innerText = activity;
                        activityUL.appendChild(activityLI);
                    })

                    projectDiv.appendChild(categoryDiv);
                    projectDiv.appendChild(projectTitle);
                    projectDiv.appendChild(descriptionPara);
                    projectDiv.appendChild(activityUL);

                    projectListDiv.appendChild(projectDiv);
                })
            }
        </script>

        <div class="search"><!-- Search -->
            <form action="">
                <input type="text" name="search" id="search" placeholder="Search Here">
                <span class="material-icons">
                    search</span>
            </form>
            <div class="notification">
                <span class="material-icons">
                    notifications</span>
                <span class="material-icons">
                    edit</span>
            </div>
        </div><!-- Search End-->

        <div class="title">
            <h1>My project</h1>
            <form action="#">
                <label for="projects">Sort By</label>
                <select name="projects" id="projects">
                    <option value="recent">Recent</option>
                    <option value="finished">Finished Projects</option>
                    <option value="ongoing">Ongoing Projects</option>
                    <option value="stalled">Stalled Projects</option>
                </select>
            </form>
        </div>

        <div class="project_list"><!-- Project List -->

            <div class="project"><!-- Project1 -->
                <div class="category category_color1">
                </div>
                <h2>Project 1</h2>
                <p>Active Recently</p>
                <ul class="activity">
                    <li>ComingSoon Banner</li>
                    <li>Book Cover</li>
                </ul>

                <div class="meta">
                    <div class="contributors">
                        <img src="/img/avatar.png" alt="Avatar" class="avatar">
                        <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
                        <img src="/img/avatar2.png" alt="Avatar" class="avatar">
                    </div>
                    <span class="material-icons">more_vert</span>
                </div>
            </div> <!-- Project1 End-->


        <div class="project"><!-- Project2 -->
            <div class="category category_color2">
            </div>
            <h2>Project 2</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Editorial page content</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project2 End-->

        <div class="project"><!-- Project3 -->
            <div class="category category_color3">
            </div>
            <h2>Project 3</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project3 End-->

        <div class="project"><!-- Project 4 -->
            <div class="category category_color4">
            </div>
            <h2>Project 4</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project 4 End-->

        <div class="project"><!-- Project 5 -->
            <div class="category category_color1">
            </div>
            <h2>Project 5</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project 5 End-->

        <div class="project"><!-- Project 6 -->
            <div class="category category_color3">
            </div>
            <h2>Project 6</h2>
            <p>Active Recently</p>
            <ul class="activity">
                <li>Fixd layout page on</li>
            </ul>

            <div class="meta">
                <div class="contributors">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                    <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
                    <img src="img/avatar.png" alt="Avatar" class="avatar">
                </div>
                <span class="material-icons">more_vert</span>
            </div>
        </div> <!-- Project 6 End-->
    </div><!-- Project List End -->


</section><!-- Main End-->

<section class="secondary"><!-- Secondary -->

    <div class="chart">
        <h2>Total Project</h2>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="recent_projects"><!-- Recent Project -->
        <div class="listing">
            <div class="title">
                <div class="category"></div>
                <h2>layout design</h2>
                <p>by Thomas Gardner</p>
                <span class="material-icons">more_vert
                    </span>
            </div>
        </div>

        <div class="listing">
            <div class="title">
                <div class="category"></div>
                <h2>Photoshop project</h2>
                <p>by David</p>
                <span class="material-icons">more_vert
                    </span>
            </div>
        </div>

        <div class="listing">
            <div class="title">
                <div class="category"></div>
                <h2>DevOps Project Notes</h2>
                <p>by Jacub</p>
                <span class="material-icons">more_vert
                    </span>
            </div>
        </div>

        <div class="listing">
            <div class="title">
                <div class="category"></div>
                <h2>VR Development</h2>
                <p>By James Hayter</p>
                <span class="material-icons">more_vert
                    </span>
            </div>
        </div>

    </div><!-- Recent Project End-->

</section><!-- Secondary end-->

</div> <!-- Dashboard End-->
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                'Completed',
                'Ongoing',
                'Stalled'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });
</script>